.cabecalho {
  height: 70vh;
  width: 100%;
}
@media (max-width: 767.98px) {
  .cabecalho {
    width: 70%;
  }
}

.cabecalhoFundo {
  background-image: url("../assets/img/top-blog.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 767.98px) {
  .cabecalhoFundo {
    height: 56vh;
  }
}

.menu {
  height: 45px;
  padding-top: 5%;
  padding-right: 7%;
}
.menu__lista {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .menu__lista {
    justify-content: center;
  }
}
.menu__links:not(.menu__botao) {
  color: #6D7785;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-right: 15px;
  padding-left: 35px;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .menu__links:not(.menu__botao) {
    font-size: 15px;
    padding-left: 5px;
    color: #fff;
    font-weight: bold;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .menu__links:not(.menu__botao) {
    font-size: 15px;
  }
}
.menu__links:not(.menu__botao):hover {
  color: #CB459E;
}
.menu__botao {
  background-color: #fabb29;
  border-radius: 25px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 45px;
  padding: 20px 30px;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .menu__botao {
    font-size: 15px;
    padding: 7px 10px;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .menu__botao {
    font-size: 17px;
    padding: 15px 25px;
  }
}
.menu__botao:hover {
  color: #CB459E;
}

.contPrincipal {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.contPrincipal__sectionFotografias {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.secaoFotografias__h2 {
  color: #624E4A;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
.secaoFotografias h3:not(.primeiroCard__h3) {
  text-transform: lowercase;
}
.secaoFotografias .cards {
  display: flex;
  width: calc(80% - 10%);
  margin-left: 10%;
}
.secaoFotografias .cardsimg {
  width: 250px;
  height: 200px;
  background-size: cover;
}
@media (max-width: 767.98px) {
  .secaoFotografias .cards {
    flex-direction: column;
    width: 90%;
    margin-left: 2%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .cards {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin-left: 1px;
  }
}
.secaoFotografias .primeiroCard, .secaoFotografias .segundoCard, .secaoFotografias .terceiroCard, .secaoFotografias .quartoCard {
  width: 25%;
  padding: 15px;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .secaoFotografias .primeiroCard, .secaoFotografias .segundoCard, .secaoFotografias .terceiroCard, .secaoFotografias .quartoCard {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .primeiroCard, .secaoFotografias .segundoCard, .secaoFotografias .terceiroCard, .secaoFotografias .quartoCard {
    width: 44%;
  }
}
.secaoFotografias .primeiroCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo01.jpg");
}
@media (max-width: 767.98px) {
  .secaoFotografias .primeiroCard__img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .primeiroCard__img {
    width: 100%;
  }
}
.secaoFotografias .primeiroCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .primeiroCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .segundoCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo02.jpg");
}
@media (max-width: 767.98px) {
  .secaoFotografias .segundoCard__img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .segundoCard__img {
    width: 100%;
  }
}
.secaoFotografias .segundoCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .segundoCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .terceiroCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo03.jpg");
}
@media (max-width: 767.98px) {
  .secaoFotografias .terceiroCard__img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .terceiroCard__img {
    width: 100%;
  }
}
.secaoFotografias .terceiroCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .terceiroCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .quartoCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo04.jpg");
}
@media (max-width: 767.98px) {
  .secaoFotografias .quartoCard__img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoFotografias .quartoCard__img {
    width: 100%;
  }
}
.secaoFotografias .quartoCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .quartoCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .medias {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.secaoFotografias .medias__facebook {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/facebook.png");
}
.secaoFotografias .medias__facebook:hover {
  background-image: url("../assets/img/facebook-hover.png");
}
.secaoFotografias .medias__twitter {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/twitter.png");
}
.secaoFotografias .medias__twitter:hover {
  background-image: url("../assets/img/twitter-hover.png");
}
.secaoFotografias .medias__youtube {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/youtube.png");
  margin-top: 10px;
}
.secaoFotografias .medias__youtube:hover {
  background-image: url("../assets/img/youtube-hover.png");
}

.eventosMusicais {
  width: calc(100% - 160px);
  margin-top: 5%;
  background: #3222AB;
  background: linear-gradient(90deg, #3222AB 0%, #6C30A6 21%, #CB459E 100%);
  height: auto;
  padding: 80px;
  color: #fff;
}
.eventosMusicais__h2 {
  margin-left: 30.5%;
  text-align: center;
  width: 40%;
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
}
@media (max-width: 767.98px) {
  .eventosMusicais__h2 {
    width: 100%;
    font-size: 45px;
    margin-left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .eventosMusicais__h2 {
    width: 100%;
    font-size: 50px;
    margin-left: 5%;
  }
}
.eventosMusicais .primeiroEvento {
  display: flex;
  margin-top: 100px;
  width: 90%;
}
@media (max-width: 767.98px) {
  .eventosMusicais .primeiroEvento {
    width: 50%;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .eventosMusicais .primeiroEvento {
    flex-direction: column;
  }
}
.eventosMusicais .primeiroEvento__img {
  width: 500px;
  height: 420px;
  padding-right: 50px;
}
@media (max-width: 767.98px) {
  .eventosMusicais .primeiroEvento__img {
    width: 68vw;
    padding-right: 0;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .eventosMusicais .primeiroEvento__img {
    width: 80vw;
    padding-right: 0;
    padding-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .eventosMusicais .primeiroEvento__txt {
    width: 70vw;
  }
}
.eventosMusicais .primeiroEvento__h3 {
  font-size: 40px;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 55px;
}
@media (max-width: 767.98px) {
  .eventosMusicais .primeiroEvento__h3 {
    font-size: 25px;
    width: 100%;
  }
}
.eventosMusicais .primeiroEvento__p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
.eventosMusicais .primeiroEvento__botao {
  width: 80px;
  display: flex;
  align-items: center;
  background-color: #034a4b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.eventosMusicais .primeiroEvento__botao:hover {
  background-color: #305859;
}
.eventosMusicais .primeiroEvento__botao--img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.eventosMusicais .segundoEvento {
  display: flex;
  margin-top: 100px;
  width: 90%;
  flex-direction: row-reverse;
}
@media (max-width: 767.98px) {
  .eventosMusicais .segundoEvento {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .eventosMusicais .segundoEvento {
    flex-direction: column;
  }
}
.eventosMusicais .segundoEvento__img {
  width: 500px;
  height: 420px;
  padding-right: 50px;
}
@media (max-width: 767.98px) {
  .eventosMusicais .segundoEvento__img {
    width: auto;
    padding-right: 0;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .eventosMusicais .segundoEvento__img {
    width: 80vw;
    padding-right: 0;
    padding-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .eventosMusicais .segundoEvento__txt {
    width: 70vw;
  }
}
.eventosMusicais .segundoEvento__h3 {
  font-size: 40px;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 55px;
}
@media (max-width: 767.98px) {
  .eventosMusicais .segundoEvento__h3 {
    font-size: 25px;
    width: 100%;
  }
}
.eventosMusicais .segundoEvento__p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
.eventosMusicais .segundoEvento__botao {
  width: 80px;
  display: flex;
  align-items: center;
  background-color: #034a4b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.eventosMusicais .segundoEvento__botao:hover {
  background-color: #305859;
}
.eventosMusicais .segundoEvento__botao--img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.secaoMembros {
  background-image: url("../assets/img/fundo-secaoMembros.jpg");
  background-size: cover;
  padding: 200px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .secaoMembros {
    width: 100%;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.secaoMembros__txtSuperior {
  color: #fabb29;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 30px;
}
.secaoMembros__txtDestaque {
  color: #fff;
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}
@media (max-width: 767.98px) {
  .secaoMembros__txtDestaque {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoMembros__txtDestaque {
    font-size: 30px;
  }
}
.secaoMembros__descricao {
  color: #fff;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .secaoMembros__descricao {
    font-size: 13px;
    line-height: 20px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .secaoMembros__descricao {
    font-size: 15px;
    line-height: 20px;
  }
}
.secaoMembros__botao {
  color: #000;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 15px;
}
.secaoMembros__botao:hover {
  color: #CB459E;
}

.footer {
  background: #000;
  width: calc(100% - 140px);
  height: 500px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 19px;
}
@media (max-width: 767.98px) {
  .footer {
    height: auto;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer {
    height: auto;
    padding-bottom: 20px;
  }
}
.footer__secoes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .footer__secoes {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer__secoes {
    flex-wrap: wrap;
  }
}
.footer__secoes--h3 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer .primeiraSecao, .footer .segundaSecao, .footer .terceiraSecao, .footer .quartaSecao {
  margin-bottom: 100px;
  width: 20%;
}
@media (max-width: 767.98px) {
  .footer .primeiraSecao, .footer .segundaSecao, .footer .terceiraSecao, .footer .quartaSecao {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .primeiraSecao, .footer .segundaSecao, .footer .terceiraSecao, .footer .quartaSecao {
    width: 50%;
  }
}
.footer .primeiraSecao__logo {
  width: 100px;
  text-align: center;
  background-color: #6D7785;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
}
@media (max-width: 767.98px) {
  .footer .primeiraSecao__p {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .footer .primeiraSecao__p {
    width: 75%;
  }
}
.footer .primeiraSecao__medias {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
}
.footer .primeiraSecao__medias--facebook {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-facebook.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--facebook:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-facebook-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-instagram.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--instagram:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-instagram-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--twitter {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-twitter.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--twitter:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-twitter-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--youtube {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-youtube.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--youtube:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-youtube-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias .medias:not(:last-child) {
  margin-right: 10px;
}
.footer .segundaSecao__lista {
  width: 100%;
  list-style: none;
}
.footer .segundaSecao__lista--itens {
  text-align: left;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
}
.footer .segundaSecao__lista--links {
  text-decoration: none;
  color: #fff;
}
.footer .terceiraSecao {
  width: 30%;
}
.footer .terceiraSecao__lista {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}
.footer .terceiraSecao__lista--itens {
  text-align: left;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
}
.footer .terceiraSecao__lista--links {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 767.98px) {
  .footer .terceiraSecao__lista {
    flex-wrap: nowrap;
  }
}
.footer .quartaSecao__contato {
  display: flex;
  flex-direction: column;
}
.footer .quartaSecao__contato--grupos {
  margin-bottom: 15px;
}
.footer .quartaSecao__contato--email, .footer .quartaSecao__contato--telefone {
  text-decoration: none;
  color: white;
}
.footer .quartaSecao__contato--endereco {
  line-height: 34px;
  text-align: left;
}
.footer .quartaSecao__contato--enderecoImg, .footer .quartaSecao__contato--telImg, .footer .quartaSecao__contato--emailImg {
  margin-right: 5px;
}
.footer__separador {
  border-color: rgba(255, 250, 250, 0.199);
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 120px;
}
.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__copyright {
    width: 80vw;
    justify-content: space-around;
  }
}
.footer__copyright--p1 {
  font-weight: bold;
  line-height: 2px;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 767.98px) {
  .footer__copyright--p1 {
    font-size: 15px;
  }
}
.footer__copyright--p2 {
  font-weight: bold;
  line-height: 2px;
  font-family: "Rubik", sans-serif;
}
@media (max-width: 767.98px) {
  .footer__copyright--p2 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
