/* FONTES PRINCIPAIS
font-family: 'Berkshire Swash', cursive;
font-family: 'Rubik', sans-serif;
*/
.cabecalho {
  height: 70vh;
  width: 100%;
}

.cabecalhoFundo {
  background-image: url("../assets/img/top-blog.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.menu {
  height: 45px;
  padding-top: 5%;
  padding-right: 7%;
}
.menu__lista {
  display: flex;
  justify-content: flex-end;
}
.menu__links:not(.menu__botao) {
  color: #6D7785;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-right: 15px;
  padding-left: 35px;
  text-decoration: none;
}
.menu__links:not(.menu__botao):hover {
  color: #CB459E;
}
.menu__botao {
  background-color: #fabb29;
  border-radius: 25px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-left: 45px;
  padding: 20px 30px;
  text-decoration: none;
}
.menu__botao:hover {
  color: #CB459E;
}

.contPrincipal {
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.contPrincipal__sectionFotografias {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.secaoFotografias__h2 {
  color: #624E4A;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
.secaoFotografias h3:not(.primeiroCard__h3) {
  text-transform: lowercase;
}
.secaoFotografias .cards {
  display: flex;
  width: calc(80% - 10%);
  margin-left: 10%;
}
.secaoFotografias .cardsimg {
  width: 250px;
  height: 200px;
  background-size: cover;
}
.secaoFotografias .primeiroCard, .secaoFotografias .segundoCard, .secaoFotografias .terceiroCard, .secaoFotografias .quartoCard {
  width: 25%;
  padding: 15px;
  margin-top: 30px;
}
.secaoFotografias .primeiroCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo01.jpg");
}
.secaoFotografias .primeiroCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .primeiroCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .segundoCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo02.jpg");
}
.secaoFotografias .segundoCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .segundoCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .terceiroCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo03.jpg");
}
.secaoFotografias .terceiroCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .terceiroCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .quartoCard__img {
  width: 250px;
  height: 200px;
  background-size: cover;
  background-image: url("../assets/img/artigo04.jpg");
}
.secaoFotografias .quartoCard__h3 {
  color: #6D7785;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.secaoFotografias .quartoCard__p {
  text-align: left;
  margin-bottom: 20px;
}
.secaoFotografias .medias {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.secaoFotografias .medias__facebook {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/facebook.png");
}
.secaoFotografias .medias__facebook:hover {
  background-image: url("../assets/img/facebook-hover.png");
}
.secaoFotografias .medias__twitter {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/twitter.png");
}
.secaoFotografias .medias__twitter:hover {
  background-image: url("../assets/img/twitter-hover.png");
}
.secaoFotografias .medias__youtube {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
  background-image: url("../assets/img/youtube.png");
  margin-top: 10px;
}
.secaoFotografias .medias__youtube:hover {
  background-image: url("../assets/img/youtube-hover.png");
}

.eventosMusicais {
  margin-top: 5%;
  background: #3222AB;
  background: linear-gradient(90deg, #3222AB 0%, #6C30A6 21%, #CB459E 100%);
  height: auto;
  padding: 80px;
  color: #fff;
}
.eventosMusicais__h2 {
  margin-left: 30.5%;
  text-align: center;
  width: 40%;
  font-size: 70px;
  font-family: "Berkshire Swash", cursive;
}
.eventosMusicais .primeiroEvento {
  display: flex;
  margin-top: 100px;
  width: 90%;
}
.eventosMusicais .primeiroEvento__img {
  width: 500px;
  height: 420px;
  padding-right: 50px;
}
.eventosMusicais .primeiroEvento__h3 {
  font-size: 40px;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 55px;
}
.eventosMusicais .primeiroEvento__p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
.eventosMusicais .primeiroEvento__botao {
  width: 80px;
  display: flex;
  align-items: center;
  background-color: #034a4b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.eventosMusicais .primeiroEvento__botao:hover {
  background-color: #305859;
}
.eventosMusicais .primeiroEvento__botao--img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}
.eventosMusicais .segundoEvento {
  display: flex;
  margin-top: 100px;
  width: 90%;
  flex-direction: row-reverse;
}
.eventosMusicais .segundoEvento__img {
  width: 500px;
  height: 420px;
  padding-right: 50px;
}
.eventosMusicais .segundoEvento__h3 {
  font-size: 40px;
  font-family: "Rubik";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 55px;
}
.eventosMusicais .segundoEvento__p {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}
.eventosMusicais .segundoEvento__botao {
  width: 80px;
  display: flex;
  align-items: center;
  background-color: #034a4b;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.eventosMusicais .segundoEvento__botao:hover {
  background-color: #305859;
}
.eventosMusicais .segundoEvento__botao--img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.secaoMembros {
  background-image: url("../assets/img/fundo-secaoMembros.jpg");
  background-size: cover;
  padding: 200px;
  text-align: center;
}
.secaoMembros__txtSuperior {
  color: #fabb29;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 30px;
}
.secaoMembros__txtDestaque {
  color: #fff;
  font-size: 70px;
  font-family: "Rubik", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}
.secaoMembros__descricao {
  color: #fff;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 70px;
}
.secaoMembros__botao {
  color: #000;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #fff;
  padding: 15px;
}
.secaoMembros__botao:hover {
  color: #CB459E;
}

.footer {
  background: #000;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
  color: #fff;
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 19px;
}
.footer__secoes {
  display: flex;
}
.footer__secoes--h3 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer__secoes--lista {
  width: 100%;
  list-style: none;
}
.footer__secoes--listaItens {
  text-align: left;
  padding-bottom: 15px;
  letter-spacing: 0.5px;
}
.footer__secoes--listaLinks {
  text-decoration: none;
  color: #fff;
}
.footer .primeiraSecao, .footer .segundaSecao, .footer .terceiraSecao, .footer .quartaSecao {
  margin-bottom: 100px;
  width: 20%;
}
.footer .primeiraSecao {
  width: 20%;
}
.footer .primeiraSecao__logo {
  width: 100px;
  text-align: center;
  background-color: #6D7785;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000;
}
.footer .primeiraSecao__medias {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  margin-left: 0;
  margin-top: 30px;
}
.footer .primeiraSecao__medias--facebook {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-facebook.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--facebook:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-facebook-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--instagram {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-instagram.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--instagram:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-instagram-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--twitter {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-twitter.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--twitter:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-twitter-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--youtube {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-youtube.png");
  background-size: cover;
}
.footer .primeiraSecao__medias--youtube:hover {
  width: 16px;
  height: 16px;
  background-image: url("../assets/img/footer-youtube-hover.png");
  background-size: cover;
}
.footer .primeiraSecao__medias .medias:not(:last-child) {
  margin-right: 10px;
}
.footer__copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__copyright--p1 {
  font-weight: bold;
  line-height: 2px;
  font-family: "Rubik", sans-serif;
}
.footer__copyright--p2 {
  font-weight: bold;
  line-height: 2px;
  font-family: "Rubik", sans-serif;
}

/*Estudar sobre Nesting e Parent Selector */

/*# sourceMappingURL=style.css.map */
