.eventosMusicais {
    width: calc(100% - 160px);
    margin-top: 5%;
    background: $azul-escuro;
    background: linear-gradient(90deg, $azul-escuro 0%, $roxo 21%,$rosa 100%);  
    height: auto;
    padding: 80px;
    color: #fff;
    
    &__h2 {
        margin-left: 30.5%;
        text-align: center;
        width: 40%;
        font-size: 70px;
        font-family: 'Berkshire Swash', cursive;
        @include for-phone-only {
            width: 100%;
            font-size: 45px;
            margin-left: 0;
        }
        @include for-tablet-only {
            width: 100%;
            font-size: 50px;
            margin-left: 5%;
        }
    }

    .primeiroEvento {
        @include eventosIndividuais-config;
        @include for-phone-only {
            width: 50%;
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
        }
        @include for-tablet-only {
            flex-direction: column;
        }
        &__img {
            @include eventos-img;
            @include for-phone-only {
                width: 68vw;
                padding-right: 0;
                padding-bottom: 25px;
                object-fit: cover;
            }
            @include for-tablet-only {
                width: 80vw;
                padding-right: 0;
                padding-bottom: 25px;
            }
        }
        &__txt {
            @include for-phone-only {
                width: 70vw;
            }
        }
        &__h3 {
            @include eventos-h3;
            @include for-phone-only {
                font-size: 25px;
                width: 100%;
            }
        }
        &__p {
            @include eventos-p;
        }

        &__botao  {
            @include eventos-botao;

            &:hover {
                background-color: #305859;
            }
        }
        &__botao--img {
            @include eventos-botaoImg;
            
        }


    }

    .segundoEvento {
        @include eventosIndividuais-config;
        flex-direction: row-reverse;
        @include for-phone-only {
            flex-direction: column;
        }
        @include for-tablet-only {
            flex-direction: column;
        }
        &__img{
            @include eventos-img;
            @include for-phone-only {
                width: auto;
                padding-right: 0;
                padding-bottom: 25px;
            }
            @include for-tablet-only {
                width: 80vw;
                padding-right: 0;
                padding-bottom: 25px;
            }
        }
        &__txt {
            @include for-phone-only {
                width: 70vw;
            }
        }
        &__h3 {
            @include eventos-h3;
            @include for-phone-only {
                font-size: 25px;
                width: 100%;
            }
        }
        &__p {
            @include eventos-p;
        }
        &__botao {
            @include eventos-botao;
            &:hover {
                background-color: #305859;
            }
        }
        &__botao--img {
            @include eventos-botaoImg;
        }
    }

}
