.secaoFotografias {
    &__h2 {
        color: $marrom;
        font-family: 'Rubik', sans-serif;
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 2px;
        text-align: center;
    }
    h3:not(.primeiroCard__h3){
        text-transform: lowercase;
    }
    .cards {
        display: flex;
        @include card;
        &img {
            @include cards-img;
        }
        @include for-phone-only {
            flex-direction: column;
            width: 90%;
            margin-left: 2%;
        }
        @include for-tablet-only {
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            margin-left: 1px;

        }
    }
    
    .primeiroCard, .segundoCard,.terceiroCard,.quartoCard {
        @include cards-config;
        @include for-phone-only {
            width: 100%;
        }
        @include for-tablet-only {
            width: 44%;
        }
    }
    .primeiroCard {
        &__img {
            @include cards-img;
            background-image: url('../assets/img/artigo01.jpg');
            @include for-phone-only {
                width: 100%;
            }
            @include for-tablet-only {
                width: 100%;
            }
        }
        &__h3 {
            @include cards-h3;

        }
        &__p {
            @include cards-p;

        }
    
    }
    
    .segundoCard {
        &__img {
            @include cards-img;
            background-image: url('../assets/img/artigo02.jpg');
            @include for-phone-only {
                width: 100%;
            }
            @include for-tablet-only {
                width: 100%
            }
        }
        &__h3 {
            @include cards-h3;
        }
        &__p {
            @include cards-p;
        }
    }
    .terceiroCard {
        &__img {
            @include cards-img;
            background-image: url('../assets/img/artigo03.jpg');
            @include for-phone-only {
                width: 100%;
            }
            @include for-tablet-only {
                width: 100%;
            }
        }
        &__h3 {
            @include cards-h3;
        }
        &__p {
            @include cards-p;
        }
    }
    .quartoCard {
        &__img {
            @include cards-img;
            background-image: url('../assets/img/artigo04.jpg');
            @include for-phone-only {
                width: 100%;
                
            }
            @include for-tablet-only {
                width: 100%;
            }
        }
        &__h3 {
            @include cards-h3;
        }
        &__p {
            @include cards-p;
        }
    }
    
    .medias {
        @include cards-media-config;
        &__facebook {
            @include cards-media-itens;
            background-image: url('../assets/img/facebook.png');
            &:hover {
                background-image: url('../assets/img/facebook-hover.png');
            }
        }
        &__twitter{
            @include cards-media-itens;
            background-image: url('../assets/img/twitter.png');
            &:hover {
                background-image: url('../assets/img/twitter-hover.png');
            }
        }
        &__youtube {
            @include cards-media-itens;
            background-image: url('../assets/img/youtube.png');
            margin-top: 10px;
            &:hover {
                background-image: url('../assets/img/youtube-hover.png');
            }
        }
    }

}