.secaoMembros {
    background-image: url('../assets/img/fundo-secaoMembros.jpg');
    background-size: cover;
    padding: 200px;
    text-align: center;
    @include for-phone-only {
        width: 100%;
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    &__txtSuperior {
        color: $amarelo;
        text-transform: uppercase;
        font-size: 15px;
        font-family:'Rubik', sans-serif;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__txtDestaque {
        color: #fff;
        font-size: 70px;
        font-family: 'Rubik',sans-serif;
        margin-bottom: 30px;
        letter-spacing: 1.5px;
        @include for-phone-only {
            font-size: 25px;

        }
        @include for-tablet-only {
            font-size: 30px;
        }
    }
    &__descricao {
        color: #fff;
        font-family: 'Rubik', sans-serif;
        letter-spacing: 1.5px;
        margin-bottom: 70px;
        @include for-phone-only {
            font-size: 13px;
            line-height: 20px;
            padding-left: 2.5px;
            padding-right: 2.5px;
        }
        @include for-tablet-only {
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__botao {
        color: #000;
        text-decoration: none;
        font-family: 'Rubik',sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        background-color: #fff;
        padding: 15px;
        
        &:hover {
            color: $rosa;
        }
    }
}